/* --> FUENTE <-- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --clr-text: #302f2f;
    --clr-red: #f60404;
    --clr-white: #fff;
    --clr-red-grad: linear-gradient(to right,var(--clr-white), var(--clr-red));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

body {
    padding: 50px;
}

.contenedor {
    max-width: 1200px;
    height: 850px;
    margin: auto;
    padding: 40px;
    border-radius: 40px;
    border: 5px solid var(--clr-red);
}

/* --> ENCABEZADO PRINCIPAL <-- */
.contenedor header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    /* border: 1px solid blueviolet; */
    width: 250px;
    /* margin-right: 50px; */
}

#nav a {
    /* border: 1px solid blueviolet; */
    text-decoration: none;
    color: var(--clr-text);
    font-weight: bold;
    margin: 0 5px;
    padding: 0;
    transition: all .3s;
    position: relative;
    
}

#nav a:after {
    
    content: "";
    position: absolute;
    height: 4px;
    background-color: var(--clr-red);
    bottom: 1;
    right: 50%;
    width: 0;
    margin-top: 23px;
    transition: all .3s;
    will-change: width;
   
}

#nav a:hover:after {
    width: 100%;
    right: 0;
    
}

#nav a:hover {
    color: var(--clr-red);
}

.icono-carrito {
    /* border: 1px solid blueviolet; */
    color: var(--clr-text);
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    position: relative;
    transition: all .3s;
}

.icono-carrito:hover {
    /* background-color: var(--clr-red); */
    color: var(--clr-red);
}

.total-item-carrito {
    /* border: 1px solid blueviolet; */
    color: var(--clr-text);
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--clr-white);
    top: 0;
    right: 0;
   
    line-height: 5px;
}

/* ---> ESTILOS SECCIÓN INICIO / HERO <--- */
.contenedor-seccion {
    /* border: 1px solid yellowgreen; */
    position: relative;
    overflow: hidden;
}

.col {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bandera {
    width: 200px;
}

.buscador {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.col-derecha {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-img {
    border-radius: 40px;
}