/* --> FUENTE <-- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --clr-text: #302f2f;
    --clr-red: #f60404;
    --clr-white: #fff;
    --clr-grey-1: #6b6a6a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

body {
    /* padding: 50px; */
    padding-top: 50px;
}

.contenedor {
    max-width: 1500px;
    margin: auto;
    padding: 20px;
    border-radius: 40px;
    border: 5px solid var(--clr-red);
}

/* --> ENCABEZADO PRINCIPAL <-- */
.contenedor header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    /* border: 1px solid blueviolet; */
    width: 250px;
    /* margin-right: 50px; */
}

#nav a {
    /* border: 1px solid blueviolet; */
    text-decoration: none;
    color: var(--clr-text);
    font-weight: bold;
    margin: 0 5px;
    padding: 0;
    transition: all .3s;
    position: relative;
    
}

#nav a:after {
    
    content: "";
    position: absolute;
    height: 4px;
    background-color: var(--clr-red);
    bottom: 1;
    right: 50%;
    width: 0;
    margin-top: 23px;
    transition: all .3s;
    will-change: width;
   
}

#nav a:hover:after {
    width: 100%;
    right: 0;
    
}

#nav a:hover {
    color: var(--clr-red);
}

.icono-carrito {
    /* border: 1px solid blueviolet; */
    color: var(--clr-text);
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    position: relative;
    transition: all .3s;
}

.icono-carrito:hover {
    /* background-color: var(--clr-red); */
    color: var(--clr-red);
}

.total-item-carrito {
    /* border: 1px solid blueviolet; */
    color: var(--clr-text);
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--clr-white);
    top: 0;
    right: 0;
   
    line-height: 5px;
}

/* ---> ESTILOS SECCIÓN INICIO / HERO <--- */
.contenedor-seccion {
    /* border: 1px solid yellowgreen; */
    position: relative;
    overflow: hidden;
}

.col { /* ---> Contendor LOGO de la firma */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.col .logo-taller {
    /* border: 1px solid blueviolet; */
    width: 500px;
}

.bandera {
    width: 200px;
    margin: 0 30px;
}

/* ---> MARCAS <--- */
.marcas, .marcas2 {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

.marca {
    /* border: 1px solid blueviolet; */
    width: 150px;
    margin-left: 10px;
}

.buscador {
    /* border: 1px solid red; */
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    width: 100%;
    border-radius:  30px;
}

.buscador input {
    border-top-left-radius:  30px;
    border-bottom-left-radius: 30px;
    width: 30%;
    border: none;
    display: inline-block;
    padding: 6px;
    outline: none;
    padding-left: 20px;
}

.buscador span {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: var(--clr-grey-1);
    padding-left: 5px;
    padding-right: 7px;
    line-height: 30px;
    cursor: pointer;
    transition: all .5s;
}

.buscador span:hover {
    background-color: var(--clr-red);
}

.col-derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-img {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

/* ---> SECCIÓN ENCABEZADO <--- */
.header-seccion {
    position: relative;
}

/* ---> PRODUCTOS <--- */
.productos {
    position: relative;
}

/* ---> PIE DE PÁGINA <--- */
.pie-pagina {
    width: 100%;
    background: rgb(24,24,24);
    background: linear-gradient(0deg, rgba(24,24,24,1) 0%, rgba(251,251,251,1) 100%);
}

.pie-pagina .grupo-1 {
    /* border: 1px solid red; */
    width: 100%;
    max-width: 1500px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 figure img {
    /* border: 3px solid yellow; */
    width: 400px;
}

.pie-pagina .grupo-1 .box2 {
    /* border: 1px solid red; */
    margin-left: 100px;
}

.box2 a {
    /* border: 1px solid yellowgreen; */
    padding: 0;
    text-decoration: none;
    color: var(--clr-text);
    font-weight: bold;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 50px; */
    transition: all .3s;
}

/* .pie-pagina .grupo-1 .box2 a:hover {
    letter-spacing: 1px;
} */

.pie-pagina .grupo-1 .box .red {
    width: 50px;
    margin-top: 10px;
}

.pie-pagina .grupo-1 .box .insta {
    margin-left: 10px;
}

hr {
    border: .5px solid var(--clr-grey-1);
}

.grupo-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-white);
    padding: 10px 0;
}